@charset "utf-8";
/*controlando tamanho do body e main*/
body#body-cart {height: 100vh}

#main-cart {
	height: calc(100vh - 90px - 74px);
}

@media screen and (min-width: 768px) {
	#main-cart{
		display: grid;
		grid-template-columns: 65% 35%;
		grid-template-rows: 5% 10% 85%;
	}
}

@media screen and (min-width: 1280px) {
	#main-cart{
		max-width: 1300px;
		margin: auto;
	}
}

/*Estilizando lista de produtos do carrinho*/
#list-product-cart {
	max-height: 65%;
	margin: auto;

	overflow: auto;
}

.row-product-cart {
	display: flex;
	align-items: center;

	margin-bottom: 10px;
}

@media screen and (min-width: 580px) {
	#list-product-cart {
		width: fit-content;
	}
}

@media screen and (min-width: 768px) {
	#title-cart {
		grid-column: 1/3;
		grid-row: 2/3;
	}

	#list-product-cart {
		grid-column: 1/2;
		grid-row:3/4;

		margin: 0 auto;
	}
}

/*Estilizando os produtos do carrinho*/
.product-cart {
	display: flex;

	width: 300px;
	padding: 10px;
	border-radius: 10px;
	margin-left: 5px;

	background: #bbb;
}

.img-product-cart {
	align-self: center;
	flex-grow: 0;

	width: 80px;
	height: 80px;
	border-radius: 15px;

	background: var(--colorTemp);
}

.info-product-cart {
	flex-grow: 2;

	margin-left: 5px;

	text-transform: uppercase;	
}

.title-product-cart {
	font-size: 16px;
	font-weight: 500;

	margin-bottom: 10px;
}

.price-product-cart {
	font-size: 18px;
	font-weight: 500;

	margin-bottom: 5px;
}

.amount-info-product {
	text-align: right;
	font-size: 19px;
}

.btn-amount-product {
	font-weight: 600;

	cursor: pointer;
}

.amount-product-cart {
	font-weight: 500;

	margin: 0 20px;
}

.amount-info-product > i {
	margin-left: 10px;
	cursor: pointer;
}

@media screen and (min-width: 580px) {
	.product-cart {
		width: 370px;
		margin-left: 10px;
	}

	.img-product-cart {
		width: 100px;
		height: 100px;
	}

	.info-product-cart {
		display: flex;
		flex-direction: column;

		margin-left: 10px;
		margin-top: 10px;
	}

	.title-product-cart {
		flex-grow: 1;
	}

	.price-product-cart {
		fle-grow: 1;
	}

	.amount-info-product {
		flex-grow: 2;
	}

@media screen and (min-width: 768px) {
	.img-product-cart {
		width: 120px;
		height: 120px;
	}

	.title-product-cart {
		font-size: 18px;
	}

	.price-product-cart {
		font-size: 20px;
	}

	.amount-info-product {
		font-size: 21px;
	}
}

@media screen and (min-width: 992px) {
	.product-cart {
		width: 450px;
	}

	.img-product-cart {
		width: 150px;
		height: 150px;
	}

	.title-product-cart {
		font-size: 20px;
	}

	.price-product-cart {
		font-size: 22px;
	}

	.amount-info-product {
		font-size: 25px;
	}
}

@media screen and (min-width: 1280px) {
	.product-cart {
		width: 550px;
	}

	.title-product-cart {
		font-size: 22px;
	}

	.price-product-cart {
		font-size: 24px;
	}

	.amount-info-product {
		font-size: 27px;
	}
}

/*Estilizando checkbox do carrinho*/
.checkbox-cart {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 1px solid var(--cinza9);

	background: #fff;

	appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
}

.checkbox-cart:checked {
	background: var(--escuro4);
	border-color: var(--escuro4);
}

/*@media screen and (min-width: 768px) {
	.checkbox-cart {
		width: 20px;
		height: 20px;
	}
}

@media screen and (min-width: 1280px) {
	.checkbox-cart {
		width: 23px;
		height: 23px;
	}
}*/

/*Estilizando checkout do pedido carrinho*/
#order-cart {
	display: flex;
	align-items: center;
	justify-content: space-between;

	position: absolute;
	top: calc(100% - 74px);

	width: calc(100vw - 30px);
	padding: 20px 15px;
	margin: 0 -40px;

	color: #fff;
	background: var(--escuro);
	font-size: 18px;

	text-transform: capitalize;
}

#check-all-cart-text > label {
	cursor: pointer;
}

#total-price-cart {
	font-weight: 600;
}

#btn-checkout-cart {
	padding: 8px 10px;
	border-radius: 8px;
	border: none;

	font-size: 16px;
	font-weight: 600;

	text-transform: uppercase;
	cursor: pointer;
}

@media screen and (min-width: 580px) {
	
}

@media screen and (min-width: 768px) {
	
}

@media screen and (min-width: 992px) {
	
}

@media screen and (min-width: 1280px) {
	
}