@charset "utf-8";
/*controlando tamanho do body e main*/
body#body-cart {height: 100vh}

main#main-cart {
	height: calc(100vh - 90px - 74px);
}

/*Estilizando lista de produtos do carrinho*/
#list-product-cart {
	max-height: 65%;
	margin: auto;

	overflow: auto;
}

.row-product-cart {
	display: flex;
	align-items: center;

	margin-bottom: 10px;
}

/*Estilizando os produtos do carrinho*/
.product-cart {
	display: flex;

	width: 300px;
	padding: 10px;
	border-radius: 10px;
	margin-left: 5px;

	background: #bbb;
}

.img-product-cart {
	align-self: center;

	width: 80px;
	height: 80px;
	border-radius: 15px;

	background: var(--colorTemp);
}

.info-product-cart {
	margin-left: 5px;

	text-transform: uppercase;	
}

.title-product-cart {
	font-size: 18px;
	font-weight: 500;

	margin-bottom: 10px;
}

.price-product-cart {
	font-size: 20px;
	font-weight: 500;

	margin-bottom: 5px;
}

.amount-info-product {
	text-align: right;
	font-size: 20px;
}

.btn-amount-product {
	font-weight: 600;

	cursor: pointer;
}

.amount-product-cart {
	font-weight: 500;

	margin: 0 20px;
}

.amount-info-product > i {
	margin-left: 10px;
	cursor: pointer;
}

/*Estilizando checkbox do carrinho*/
.checkbox-cart {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 1px solid var(--cinza9);

	background: #fff;

	appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
}

.checkbox-cart:checked {
	background: var(--escuro4);
	border-color: var(--escuro4);
}

/*Estilizando checkout do pedido carrinho*/
#order-cart {
	display: flex;
	align-items: center;
	justify-content: space-between;

	position: absolute;
	top: calc(100% - 74px);

	width: calc(100vw - 30px);
	padding: 20px 15px;
	margin: 0 -40px;

	color: #fff;
	background: var(--escuro);
	font-size: 18px;

	text-transform: capitalize;
}

#check-all-cart-text > label {
	cursor: pointer;
}

#total-price-cart {
	font-weight: 600;
}

#btn-checkout-cart {
	padding: 8px 10px;
	border-radius: 8px;
	border: none;

	font-size: 16px;
	font-weight: 600;

	text-transform: uppercase;
	cursor: pointer;
}