@charset "utf-8";

/*Alterando botão adicional (voltar) no header*/
#icon-back {
	grid-column: 1/2;
	justify-content: left;

	font-family: Cairo, sans-serif;
	font-size: 18px;
	font-weight: 700;

	text-transform: uppercase;
}

main {
	/*90px- Padding top main; 397px- height footer*/
	min-height: calc(100vh - 90px - 397px);
}

@media screen and (min-width: 768px) {
	#icon-back {
		grid-column: 2/3;
		grid-row: 1/2;
		justify-content: end;
	}

	main {
		/*90px- Padding top main; 359px- height footer*/
		min-height: calc(100vh - 90px - 359px);
	}
}

@media screen and (min-width: 992px) {
	#icon-back {
		display: none;
	}

	main {
		/*110px- Padding top main; 221px- height footer*/
		min-height: calc(100vh - 110px - 221px);
	}

	#main-category {
		padding-left: 80px;
		padding-right: 80px
	}
}

@media screen and (min-width: 1280px) {
	main {
		/*130px- Padding top main; 221px- height footer*/
		min-height: calc(100vh - 130px - 221px);
	}

	#main-category {
		padding-left: max(130px, 10%);
		padding-right: max(130px, 10%);
	}
}

/*Estilizando informativo do caminho*/
.path-general {
	display: flex;
	align-items: center;
	column-gap: .2em;

	font-family: Cairo, sans-serif;

	margin-bottom: 20px;
	text-transform: capitalize;
}

@media screen and (min-width: 768px) {
	.path-general {
		font-size: 18px
	}
}

@media screen and (min-width: 992px) {
	.path-general {
		font-size: 20px
	}
}

@media screen and (min-width: 1280px) {
	.path-general {
		font-size: 24px
	}
}

/*Estilizando título da categoria*/
.title-page {
	color: var(--cinzaa);
	text-align: center;
	font-family: Jockey One, sans-serif;
	font-size: 40px;
	font-weight: 500;

	margin-bottom: 30px;
	text-transform: uppercase;
}

@media screen and (min-width: 768px) {
	.title-page {
		font-size: 45px;
	}
}

@media screen and (min-width: 992px) {
	.title-page {
		font-size: 50px;
	}
}

@media screen and (min-width: 1280px) {
	.title-page {
		font-size: 55px;
	}
}

/*Estilizando caixa de seleção*/
#select-orderby-container {
	margin-bottom: 15px;
}

#select-orderby {
	position: relative;
	left: 100%;
	transform: translateX(-100%);

	font-size: 12px;
	font-weight: 600;
	background: #ddd;

	padding: 5px;
	border: none;
	border-radius: 8px;

	text-transform: capitalize;
}

@media screen and (min-width: 768px) {
	#select-orderby {
		font-size: 15px;
	}
}

@media screen and (min-width: 992px) {
	#select-orderby {
		font-size: 17px;
	}
}

@media screen and (min-width: 1280px) {
	#select-orderby {
		left: 50%;
		transform: translateX(100%);

		font-size: 19px;
	}
}

/*Estilizando a lista de produtos*/
#product-group-category {
	display: flex;
	flex-direction: column;
}

.product-category {
	display: flex;

	margin-bottom: 15px;
}

.img-product-category {
	width: 90px;
	height: 90px;
	border-radius: 5px;

	background: var(--colorTemp);

	overflow: hidden;
}

#img-inside-categoryPage {
	width: 100%;
	height: 100%;
}

.info-product-category {
	max-width: 150px;
	margin-left: 10px;
	margin-top: 5px;

	text-transform: capitalize;
}

.title-product-category {
	font-size: 14px;
	font-weight: 600;

	margin-bottom: 10px;
}

.price-product-category {
	font-size: 18px;
}

@media screen and (min-width: 580px) {
	#product-group-category {
		padding-left: 20px;
		padding-right: 20px;
	}

	.img-product-category {
		width: 100px;
		height: 100px;
	}

	.info-product-category {
		max-width: 250px;
		margin-left: 15px;
	}

	.title-product-category {
		font-size: 15px;
	}
}

@media screen and (min-width: 768px) {
	#product-group-category {
		padding-left: 30px;
		padding-right: 30px;
	}

	.img-product-category {
		width: 130px;
		height: 130px;
	}

	.info-product-category {
		max-width: 350px;
	}

	.title-product-category {
		font-size: 18px;
	}

	.price-product-category {
		font-size: 20px;
	}
}

@media screen and (min-width: 992px) {
	#product-group-category {
		padding-left: 40px;
		padding-right: 40px;
	}

	.img-product-category {
		width: 150px;
		height: 150px;
	}

	.info-product-category {
		max-width: 450px;
		margin-left: 20px;
	}

	.title-product-category {
		font-size: 20px;
	}

	.price-product-category {
		font-size: 22px;
	}
}

@media screen and (min-width: 1280px) {
	#product-group-category {
		padding-left: max(50px, 15%);
		padding-right: max(50px, 15%);
	}

	.img-product-category {
		width: 180px;
		height: 180px;
	}

	.info-product-category {
		max-width: 500px;
		margin-left: 25px;
	}

	.title-product-category {
		font-size: 22px;
	}

	.price-product-category {
		font-size: 24px;
	}
}

/*Estilizando botões para as páginas de produtos*/
#btn-pages-category {
	order: 1;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: .7em;

	margin-top: 30px;
}

.btn-page:hover {
	font-weight: 500;
}

.btn-page {
	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
}

.change-page {
	text-transform: capitalize;
}

.front-page {
	order: 1;
}

.back-page {
	order: -1;
}

.number-pages {
	padding: 3px 5px;
	border-radius: 4px;

	background: #ddd;
}

.page-select {
	font-weight: 600;

	background: #bbb;
}

@media screen and (min-width: 768px) {
	.btn-page {
		font-size: 18px;
	}
}

@media screen and (min-width: 992px) {
	.btn-page {
		font-size: 20px;
	}
}

@media screen and (min-width: 1280px) {
	.btn-page {
		font-size: 22px;
	}
}