@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jockey+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
}

:root {
	--escuro: #0f0f0f;
	--escuro3: #3a3a3a;
	--offwhite: #f2f0ef;
	--cinzaa: #a1a1a1;
	--colorTemp: #d9d9d9;
}

body {
	font-family: Montserrat, sans-serif;
	background: var(--offwhite);
}

header {
	position: fixed;

	width: calc(100vw - 80px);
	height: 60px;
	padding: 0 40px;

	background: var(--escuro);
}

.nav-header {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;

	height: 100%;

	color: #fff;
	font-size: 30px;
}

.nav-header > * {
	display: flex;

	cursor: pointer;
}

.nav-header > ul {
	display: none;
}

#logo-header > img {
	height: 35px;
}

main {
	padding: 80px 40px 0;
}

/*Estilizando o carrossel da home*/
#main-carousel {
	width: 300px;
	height: 180px;
	margin: auto;
	margin-bottom: 30px;
	border-radius: 30px;

	background: var(--colorTemp);
}

/*Estilizando o atalho das categorias*/
.speed-access {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;

	max-width: 380px;
	margin: auto;
	margin-bottom: 30px;
}

aside .access-button {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: space-between;

	height: 75px;
	max-width: 80px;

	cursor: pointer;
}

aside .access-icon {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 50px;
	height: 50px;
	border-radius: 50%;

	background: var(--escuro);
}

aside .name-access {
	font-family: Inter, sans-serif;
	font-weight: 600;
	font-size: 15px;

	text-transform: capitalize;
}

/*Estilizando section com os produtos*/
.product-home {
	max-width: 500px;
	margin: auto;
	margin-bottom: 35px;
}

.title-group {
	font-family: Jockey One, sans-serif;
	color: var(--cinzaa);
	text-align: center;
	font-size: 30px;
	font-weight: 400;

	margin-bottom: 20px;
	text-transform: uppercase;
}

.group-shop {
	display: flex;
	flex-flow: row wrap;
	align-items: start;
	justify-content: center;
	gap: 1.3em 2em;
}

.product-card {
	width: 140px;
	min-height: 230px;

	cursor: pointer;
}

.product-img-card {
	height: 160px;
	margin-bottom: 10px;
	border-radius: 10px;

	background: var(--colorTemp);
}

.info-product-card {
	min-height: 50px;

	font-family: Inter, sans-serif;

	text-transform: uppercase;
}

.category-product-card {
	font-size: 12px;

	margin-bottom: 5px;
}

.title-product-card {
	font-size: 16px;
	font-weight: 600;

	margin-bottom: 5px;
}

.price-product-card {
	font-size: 14px;
}

/*Estilizando carrossel de relacionados*/

/*Estilizando footer*/
footer {
	color: #fff;
	font-family: Josefin Sans, sans-serif;
	background: var(--escuro3);

	padding-top: 15px;
	margin-top: 50px;
}

.footer-grid {
	display: grid;
}

.category-footer {
	margin-left: 30px;
	margin-bottom: 20px;

	text-transform: capitalize;
}

h2.title-footer {
	font-size: 22px;
	font-weight: 600;

	margin-bottom: 10px;
}

ul.nav-footer {
	list-style-position: inside;
	list-style-type: "> ";

	color: #bbb;
	font-size: 18px;

	padding-left: 10px;
}

ul#nav-social {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: .3em;

	list-style: none;

	color: #ddd;
	font-size: 38px;
}

.nav-footer > li:hover {
	color: #fff;
}

.nav-footer > li > a {
	color: inherit;

	text-decoration: none;
}

.copyright-footer {
	color: var(--cinzaa);
	text-align: center;
	font-size: 16px;
	background: var(--escuro);

	padding: 8px;
}

.copyright-footer .copy-references:hover {
	color: #fff;
}

.copyright-footer .copy-references {
	color: inherit;
	font-weight: 600;

	text-decoration: none;
	text-transform: capitalize;
}