@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jockey+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: Montserrat, sans-serif;
}

:root {
	--escuro: #0f0f0f;
	--offwhite: #f2f0ef;
	--colorTemp: #d9d9d9;
}

body {
	background: var(--offwhite);
}

header {
	height: 60px;
	padding: 0 40px;

	background: var(--escuro);
}

.nav-header {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;

	height: 100%;

	color: #fff;
	font-size: 30px;
}

main {
	padding: 0 40px;
}

/*Estilizando o carrossel da home*/
#main-carousel {
	width: 300px;
	height: 180px;
	margin: auto;
	border-radius: 30px;

	background: var(--colorTemp);
}

/*Estilizando o atalho das categorias*/
.speed-access {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;

	margin: auto;
}

aside .access-button {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: space-between;

	height: 75px;
	max-width: 80px;
}

aside .access-icon {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 50px;
	height: 50px;
	border-radius: 50%;

	background: var(--escuro);
}

aside .name-access {
	font-family: Inter, sans-serif;
	font-weight: 600;
	font-size: 15px;

	text-transform: capitalize;
}

