@charset "utf-8";

/*Arquivos internos*/
@import url("category.css");
@import url("product.css");
@import url("cart.css");
@import url("controlAdm.css");
@import url("login.css");
@import url("createProduct.css");
@import url("myAccount.css");

/*Arquivos externos*/
/*Fontes importadas: Cairo, Inter, Jockey One, Josefin Sans, Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jockey+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
}

:root {
	--escuro: #0f0f0f;
	--escuro3: #3a3a3a;
	--escuro4: #4a4a4a;
	--offwhite: #f2f0ef;
	--cinzaa: #a1a1a1;
	--cinza9: #909090;
	--amareloOuro: #dda01f;
	--amareloDourado: #e1aa1c;
	--amareloClaro: #f3da7d;
	--colorTemp: #d9d9d9;
}

body {
	font-family: Montserrat, sans-serif;
	background: var(--offwhite);
}

header {
	position: fixed;

	width: calc(100vw - 80px);
	padding: 15px 40px;

	background: var(--escuro);
}

.nav-header {
	display: grid;
	grid-template-columns: 30% 40% 30%;
	align-items: center;
	row-gap: .8em;

	height: 100%;

	color: #fff;
	font-size: 30px;
}

.nav-header > * {
	display: flex;
	align-items: center;

	cursor: pointer;
}

#icon-burger {
	grid-column: 1/2;
	justify-content: left;
}

#logo-header {
	grid-column: 2/3;
	justify-content: center;

	font-size: 20px;
}

#icon-cart {
	grid-column: 3/4;
	justify-content: right;
}

.nav-header > #menu-category {
	grid-column: 1/4;
	display: none;

	width: 100%;

	text-transform: uppercase;
}

#title-menu {
	font-weight: 600;
	font-size: 18px;

	margin-bottom: 10px;
}

#nav-category {
	color: #999;
	font-size: 25px;
	font-weight: 500;

	padding-left: 15px;
	list-style-type: none;
}

#nav-category li {
	padding: 5px 0;
}

#nav-category a:hover {
	color: #fff;
	font-weight: 600;
}

#nav-category a {
	color: inherit;

	text-decoration: none;
}

main {
	padding: 90px 40px 0;
}

/*Estilizando o carrossel da home*/
#main-carousel {
	min-width: 250px;
	max-width: 350px;
	height: 180px;
	margin: auto;
	margin-bottom: 30px;
	border-radius: 30px;

	background: var(--colorTemp);
}

/*Estilizando o atalho das categorias*/
.speed-access {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	gap: 1em max(5px, 0.5em);

	max-width: 380px;
	margin: auto;
	margin-bottom: 30px;
}

aside .access-button {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: space-between;

	height: 75px;
	max-width: 80px;

	cursor: pointer;
}

aside .access-icon {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 50px;
	height: 50px;
	border-radius: 50%;

	color: #fff;
	font-size: 21px;
	background: var(--escuro);
}

aside .name-access {
	font-family: Inter, sans-serif;
	font-weight: 600;
	font-size: 15px;

	text-transform: capitalize;
}

/*Estilizando section com os produtos*/
.product-home {
	max-width: 500px;
	margin: auto;
	margin-bottom: 35px;
}

.title-group {
	font-family: Jockey One, sans-serif;
	color: var(--cinzaa);
	text-align: center;
	font-size: 30px;
	font-weight: 400;

	margin-bottom: 20px;
	text-transform: uppercase;
}

.group-shop {
	display: flex;
	flex-flow: row wrap;
	align-items: start;
	justify-content: center;
	gap: 1.3em 2em;
}

.product-card {
	width: 140px;
	min-height: 230px;

	cursor: pointer;
}

.product-img-card {
	height: 160px;
	margin-bottom: 10px;
	border-radius: 10px;

	background: var(--colorTemp);
}

.info-product-card {
	min-height: 50px;

	font-family: Inter, sans-serif;

	text-transform: uppercase;
}

.category-product-card {
	font-size: 12px;

	margin-bottom: 5px;
}

.title-product-card {
	font-size: 16px;
	font-weight: 600;

	margin-bottom: 5px;
}

.price-product-card {
	font-size: 14px;
}

/*Estilizando carrossel de relacionados*/

/*Estilizando footer*/
footer {
	color: #fff;
	font-family: Josefin Sans, sans-serif;
	background: var(--escuro3);

	padding-top: 15px;
	margin-top: 50px;
}

.footer-grid {
	display: grid;
}

.category-footer {
	margin-left: 30px;
	margin-bottom: 20px;

	text-transform: capitalize;
}

h2.title-footer {
	font-size: 22px;
	font-weight: 600;

	margin-bottom: 10px;
}

ul.nav-footer {
	list-style-position: inside;
	list-style-type: "> ";

	color: #bbb;
	font-size: 18px;

	padding-left: 10px;
}

ul#nav-social {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: .3em;

	list-style: none;

	color: #ddd;
	font-size: 38px;
}

.nav-footer > li:hover {
	color: #fff;
}

.nav-footer > li > a {
	color: inherit;

	text-decoration: none;
}

.copyright-footer {
	color: var(--cinzaa);
	text-align: center;
	font-size: 16px;
	background: var(--escuro);

	padding: 8px;
}

.copyright-footer .copy-references:hover {
	color: #fff;
}

.copyright-footer .copy-references {
	color: inherit;
	font-weight: 600;

	text-decoration: none;
	text-transform: capitalize;
}              